@font-face {
  font-family: "Super Legend Boy";
  src: url("./assets/SuperLegendBoy.ttf");
}

:root {
  --text: #040301;
  --title: "Super Legend Boy", serif;
  --content: "Super Legend Boy", serif;
  --background: #f0e9db;
  --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='64' viewBox='0 0 16 32'%3E%3Cg fill='%23cde6c1' fill-opacity='0.6'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
  --primary: #9a7a3b;
  --primary-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239a7a3b' fill-opacity='0.15' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
  --subprimary: #e3d8c3;
  --pattern: #d9c9af;
  --secondary: #cde6c1;
  --accent: #5e9d3f;
  --error: #a9000b;
  --strength: #e61919;
  --charisma: #e6c619;
  --intelligence: #40e5e5;
  --stamina: #0d730d;
  --speed: #c0c0c0;
}

::selection {
  background-color: var(--accent);
}

* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  color: var(--text);
  background-image: var(--background-image);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#root {
  display: flex;
  align-items: center;
  height: 70%;
  aspect-ratio: 9/16;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--primary);
}

/* ================================================================== */
/* =========================== Index Page =========================== */
/* ================================================================== */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 40%;
  width: 100%;
  margin-bottom: 15px;
}

.form_title {
  font-family: var(--title);
  font-size: 50px;
  text-align: center;
}

label,
input,
#logout {
  display: block;
  margin-bottom: 5px;
  font-family: var(--content);
}

input,
#logout {
  width: 80%;
  padding: 8px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--background);
}

input:-webkit-autofill {
  border: 1px solid var(--primary);
  background-color: var(--background);
}

input[type="submit"],
#logout {
  padding: 1em 2em;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: 6px;
  transition: transform ease 0.2s, box-shadow ease 0.2s;
  display: inline-block;
  font-size: 18px;
  z-index: 2;
  white-space: nowrap;
  cursor: pointer;
  font-family: var(--content);
  text-transform: uppercase;
  transition: all 0.4s;
  width: fit-content;
}

input[type="submit"]:hover,
#logout:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 6px 6px 6px var(--secondary), -6px 6px 6px var(--secondary);
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  z-index: -5;
  top: 0;
  left: 0;
}

.best {
  border: none;
  background-color: var(--subprimary);
  background-image: var(--primary-image);
}

.error {
  color: var(--error);
  font-size: 16px;
  font-family: var(--content);
}
